
<div class="menu app-menu">
  {% if perms.ervinloads.view_load %}
    {% url 'ervinloads:load-list' as load_url %}
    {% if load_url == url_here %}
      <div class="menu-item menu-here">
        Loads
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ load_url }}">Loads</a>
      </div>
    {% endif %}
  {% endif %}

  {% if perms.ervinloads.change_load %}
    {% url 'ervinloads:notifications-queue' as notification_url %}
    {% if notification_url == url_here %}
      <div class="menu-item menu-here">
        Notification Queue<span id="spn_notification-count"></span>
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ notification_url }}">Notification Queue</a><span id="spn_notification-count"></span>
      </div>
    {% endif %}
  {% endif %}

    <script>
      function notificationCount() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            if(parseInt(this.responseText) > 0) {
              document.getElementById("spn_notification-count").innerText = "(" + this.responseText + ")";
            }
          }
        };
        xhttp.open("GET", "{% url 'ervinloads:notifications-count' %}", true);
        xhttp.send();
      }
      notificationCount()
    </script>

</div>
