  <h2>{{ object }}</h2>

  <div class="detail">
    {% include './_detail_field.html' with label=load_labels.jon_name field=object.job_name %}
    {% include './_detail_field.html' with label=load_labels.po_number field=object.po_number %}
    {% include './_detail_field.html' with label=load_labels.supplier field=object.supplier %}
    {% include './_detail_field.html' with label=load_labels.spo_number field=object.spo_number %}
    {% include './_detail_field.html' with label=load_labels.description field=object.description %}
    {% include './_detail_field.html' with label=load_labels.notes field=object.notes %}
    {% include './_detail_field.html' with label=load_labels.location field=object.location %}
    {% include './_detail_field.html' with label=load_labels.status field=object.status %}
    {% include './_detail_field.html' with label=load_labels.created_when field=object.created_when %}
    {% include './_detail_field.html' with label=load_labels.updated_when field=object.updated_when %}
    {% include './_detail_field.html' with label=load_labels.do_install field=object.get_do_install_display %}
    {% include './_detail_field.html' with label=load_labels.photo field=object.photo %}
    {% include './_detail_field.html' with label=load_labels.completion field=object.completion %}

  </div>

